.cta-section img{
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
    transform: translateY(0px);
}

.cta-section{
    padding: 100px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.cta-section .cta-section__title{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 16px;
    color: #091133;   
}

.cta-section .cta-section__description{
    max-width: 600px;
    font-size: 16px;
    margin-bottom:  30px;
    color: #6F7CB2;
    align-self: center;
}
.cta-section p{
    font-size: 18px;
    margin-bottom: 30px;
}

.cta-section__priceContaienr{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    flex-wrap: nowrap;
    flex-direction: column;
}


.cta-section .cta-section__price{
    font-size: 50px;
    line-height: 68px;
    font-weight: 700;
    color: #222F65;
}

.cta-section .cta-section__priceTag{
    font-size: 16px;
    margin-bottom: 60px;
    color: #37447E;
}

.cta-section .cta-section__purchaseTagline{
    font-size: 14px;
    color: #5D6970;
    margin-bottom: 10px;
}

.cta-section .button{
    width: 189px;
}

.cta-section .btn:hover{
    background-color: #0056b3;
}

@media screen and (max-width: 768px){
    .cta-section{
        padding: 50px 0;
    }
    .cta-section .cta-section__title{
        font-size: 30px;
    }
    .cta-section .cta-section__description{
        font-size: 14px;
    }
    .cta-section .cta-section__price{
        font-size: 36px;
        line-height: 48px;
    }
    .cta-section .cta-section__priceTag{
        font-size: 14px;
    }
    .cta-section .cta-section__purchaseTagline{
        font-size: 12px;
    }
    .cta-section .button{
        width: 150px;
    }
}

